/* 右键菜单样式context-menu，圆角边框，灰色 */
.context-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

/* 右键菜单元素 样式context-menu-item, 菜单之间横线相隔 */
.context-menu-item {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

/* file-icon是文件图标，需要和文件名在同一行，右侧距离为10px */
.file-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.file-name {
    width: 70%;
}

.file-op {
    width: 30px;
}

/* convert-form是转换表单，覆盖当前页面 */
.convert-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 600;
}

/*
* 文件上传区域，要求不影响其他元素，所以使用绝对定位
*/
#dropArea {
    transition: border 0.3s; /* 添加过渡效果 */
    width: 90vw;
    height: 90vh;
    position: absolute;
    display: none;
}

#dropArea.active {
    border: 2px dashed blue; /* 拖拽时的样式 */
}

.multi-btn {
    display: flex;
    flex-direction: row;
}

.op-btn {
    display: none;
    margin-left: 10px;
}
.file-row-hover .op-btn {
    display: block;
}

.file-row:hover .op-btn {
    display: block; /* 当鼠标悬停在具有.visible-on-hover类的元素上时，显示.hidden-element */
}


