body {
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.frameDiv {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

iframe {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 90vh;
    border: 0
}

/* loadingDivContent */
.loadingDivContent {
    position: absolute;
    top: -20px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 100;
    text-align: center;
}

/* loadingDiv 位于页面正中间 */
.loading-div {
    position: fixed;
    top: 50%;
    left: 50%;
    /* width: 100px; */
    /* height: 100px; */
    margin-top: -50px;
    margin-left: -50px;
    text-align: center;
    z-index: 101;
}

.attr-input {
    width: 100%;
}
