html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .other-login {
  margin-top: 30px;
}

/* other-login-title 和 other-login-items 两个元素在同一行, title居左，items居右， */
.other-login-title {
  float: left;
}

.other-login-items {
  float: right;
}

/* items中的item留有间隔 */
.other-login-item {
  margin-left: 10px;
  border-radius: 50%;
}

/* items中的img是圆形的，大小27px */

.other-login-item img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
}

